{% extends "base.html" %}
{% block title %}Make Bitcoins Fast | Statistics{% endblock title %}
{% block content %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load('visualization', '1.0', {'packages':['corechart']});
      
      google.setOnLoadCallback(drawChart);
      
      function drawChart() {
        var data = new google.visualization.DataTable();

        data.addColumn('string', 'Site');
        data.addColumn('number', 'Clicks');
        data.addRows([
          {% for site in sites %}
          ['{{ site.name }}', {{ site.clicks }}],
          {% endfor %}
        ]);
        
        var options = {'title': 'Interest per Site (in Clicks)',
                       'width': 700,
                       'height': 500};
        
        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
        
      }
    </script>
    <div id="chart_div"></div>
{% endblock %}
